<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" fill="clear">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-button>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>¡Este es el primer paso!</h1>
    <p>Rellena todos los campos del formulario para registrarte.</p>

    <form>
      <ion-item>
        <ion-label position="floating">DNI</ion-label>
        <ion-input name="dni" [(ngModel)]="user.dni"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input name="nombre" [(ngModel)]="user.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input name="apellidos" [(ngModel)]="user.apellidos"></ion-input>
      </ion-item>
      <ion-item button="true" id="open-date-input">
        <ion-label position="floating">Fecha de nacimiento</ion-label>
        <ion-input name="fechaNacimiento" value="{{user.fechaNacimiento | date: 'dd/MM/yyyy'}}"></ion-input>
        <ion-popover trigger="open-date-input" show-backdrop="false">
          <ng-template>
            <ion-datetime
              #popoverDatetime
              presentation="date"
              (ionChange)="formatDate(popoverDatetime.value)"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>

      <ion-button expand="block" (click)="registro()">Regístrate</ion-button>


    </form>
  </div>
</ion-content>
