<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>App Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home" (click)="selectPage()">Home</ion-item>
      <ion-item routerLink="/register" (click)="selectPage()">Registro</ion-item>
      <ion-item routerLink="/about" (click)="selectPage()">About</ion-item>
      <ion-item routerLink="/usuarios" (click)="selectPage()">Usuarios</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>
